body {
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 5px 20px 5px;
}

.main-title {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

.main-description {
  margin: 5px;
  text-align: center;
}

.banner {
  background-color: #fff;
  margin: 10px;
}

.banner-text {
  padding: 5px;
  text-align: center;
}

.timeline-title {
  padding: 30px;
  text-align: center;
}
ul {
  list-style-position: inside;
  text-align: center;
  justify-content: center;
}

.timeline-list {
  display: inline-block;
}

.image {
  text-align: center;
}
